:root {
  --table_line: #eeeeee;
  --text-paragraph: #b5b7c0;
  --disabled_btn_accent: #df0404;
  --enable_btn_accent: #00b087;
  --hover_color: #5932ea;
  --body_bg_color: #fafbff;
  --fill_color: #6f7180;
  --light_color: #fff;
  --dark_color: #000;
}

body {
  font-family: "Poppins";
  color: #272829;
  background-color: var(--body_bg_color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

.button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 4px 18px;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid var(--enable_btn_accent);
  border-radius: 4px;
  color: var(--enable_btn_accent);
  cursor: pointer;
}
.button:hover {
  scale: 1.1;
}

.main_dashbord_active_btn {
  background: #ffc5c5;
  border: 1px solid var(--disabled_btn_accent);
  color: var(--disabled_btn_accent);
  padding: 4px 12px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.bottom-section {
  padding: 10px;
}

p {
  margin: 0;
  padding: 0;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 28px;
  background: var(--light_color);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 78px;
}

#header .header_logo {
  display: flex;
  align-items: flex-end;
}

#header .header_logo img {
  margin-right: 8px;
  display: block;
  width: 37px;
  height: 37px;
}

#header .header_logo h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins";
}

#header .header_logo h1 a {
  color: var(--dark_color);
  text-decoration: none;
}

.profile {
  display: flex;
  gap: 12px;
}

.profile_avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.profile_info_name {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}

.profile_info_role {
  margin: 0;
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.container,
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  .container,
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.nav_menu {
  padding: 30px 0 0 0;
}

.nav_menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_menu > ul > li {
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.nav_menu a,
.nav_menu a:focus {
  display: flex;
  align-items: center;
  padding: 11px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 10px;
  stroke: var(--fill_color);
  fill: var(--fill_color);
}

.nav_menu a i,
.nav_menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
}

.nav_menu a:hover,
.nav_menu .active,
.nav_menu .active:focus,
.nav_menu li:hover > a {
  text-decoration: none;
  color: var(--light_color);
  background-color: var(--hover_color);
  fill: var(--light_color);
  stroke: var(--light_color);
}

.nav_menu_link_svg {
  margin-right: 14px;
}

.nav_menu_link {
  display: flex;
  justify-content: space-between;
  color: var(--fill_color);
  text-decoration: none;
}

.mobileNavToggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: var(--dark_color);
  color: var(--light_color);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobileNavActive {
  overflow: hidden;
}

.mobileNavActive #header {
  left: 0;
}

#main {
  width: 100vh;
  height: 100%;
  background-color: var(--body_bg_color);
  padding: 40px;
}
@media (min-width: 768px) {
  #main {
    width: 100%;
  }
}
@media (min-width: 1199px) {
  #main {
    width: 100%;
    padding: 10px 100px 10px 350px;
    height: 100vh;
    padding-top: 40px;
  }
}

#main .main-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  min-height: 200px;
}

.main_container {
  padding-top: 0;
}
@media screen and (min-width: 1199px) {
  .main_container {
    margin-left: 70px;
  }
}

.main_dashbord {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 30px;
  background-color: var(--light_color);
  width: 100%;
  padding: 10px;
  margin: 10px 50px auto auto;
}
@media screen and (min-width: 1199px) {
  .main_dashbord {
    padding: 30px 44px 40px 38px;
    width: 968px;
    margin-left: 0;
  }
}

.welcome_user {
  margin-bottom: 50px;
}

.main_dashbord_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}

.main_dashbord_customers_title {
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.main_dashbord_members {
  margin: 7px 0 0px 0;
  color: #16c098;
  font-weight: 400;
  font-size: 14px;
}

.main_dashbord_search {
  display: flex;
  align-items: center;
}

.main_dashbord_search_input {
  padding-left: 35px;
  background: #f9fbff;
  border: none;
  border-radius: 10px;
  width: 216px;
  height: 38px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.main_dashbord_search_input ::placeholder {
  color: var(--text-paragraph);
}

.main_dashbord_search_input:focus-visible {
  color: var(--dark_color);
  border-color: var(--enable_btn_accent);
}

.main_dashbord_search_btn {
  position: relative;
  padding: 0;
  z-index: 2;
  background: transparent;
  border: none;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: -30px;
}

.main_dashbord_search_btn_svg {
  stroke: #7e7e7e;
  width: 24px;
  height: 24px;
}

table {
  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid var(--table_line);
}

th {
  text-align: start;
  color: var(--text-paragraph);
  font-weight: 500;
}

td {
  padding: 14px 5px;
  color: #292d32;
}

.bottom-section {
  display: flex;
  align-items: flex-end;
}

.main_dashbord_bottom_data {
  color: var(--text-paragraph);
  margin: 0;
}

.main_dashbord_pagination {
  margin-right: 0;
  display: flex;
  gap: 12px;
}

.main_dashbord_pagination_link {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 24px;
  background: #f5f5f5;
  border: 1px solid var(--table_line);
  border-radius: 4px;
  color: #404b52;
  font-size: 12px;
  line-height: 100%;
}
.main_dashbord_pagination_link:hover {
  background-color: var(--hover_color);
  color: var(--light_color);
}

.main_dashbord_active_btn-pagin {
  background-color: var(--hover_color);
  color: var(--light_color);
}

.main_dashbord_pagination_arow_pagination {
  display: flex;
  align-items: flex-end;
}

.dots {
  background: transparent;
  border: none;
}/*# sourceMappingURL=main.css.map */