:root {
  // --brend-color: #2196f3;
  // --primery-text-color: #212121;
  // --secondary-text-color: #757575;
  // --color-text-dark-theme: #ffffff;
  // --text-paragraph: 'Roboto', sans-serif;
  // --transition-dur-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --hover_color: #5932ea;
  --body_bg_color: #fafbff;
  --fill_color: #6f7180;
  --light_color: #fff;
  --dark_color: #000;
}
body {
  font-family: 'Poppins';
  color: #272829;
  background-color: var(--body_bg_color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins';
}

.button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 4px 18px;
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00b087;
  border-radius: 4px;
  color: #00b087;
  cursor: pointer;
  &:hover {
    scale: 1.1;
  }
}

.main_dashbord_active_btn {
  background: #ffc5c5;
  border: 1px solid #df0404;
  color: #df0404;
  padding: 4px 12px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.bottom-section {
  padding: 10px;
}

p {
  margin: 0;
  padding: 0;
}
